<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1 class="welcome-title">About The Cresta Run</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, reprehenderit quidem adipisci quae consectetur nemo quisquam! Error beatae dolorem possimus ex, ipsum eius aut nihil provident inventore unde sint, aliquid.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, reprehenderit quidem adipisci quae consectetur nemo quisquam! Error beatae dolorem possimus ex, ipsum eius aut nihil provident inventore unde sint, aliquid.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, reprehenderit quidem adipisci quae consectetur nemo quisquam! Error beatae dolorem possimus ex, ipsum eius aut nihil provident inventore unde sint, aliquid.</p>
    </div>
  </div>
</div>