<hr class="footer-yellow-line">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <ul class="footer-links">
        <li><%= link_to 'Contacts', contacts_path %></li>
        <li><%= link_to 'About', '#' %></li>
        <li><%= link_to 'FAQs', '#' %></li>
      </ul>
    </div>
  </div>
</div>