footer{
  border-top: 5px solid #A90C36;
  .footer-yellow-line{
    margin: 0;
    border-top: 5px solid #D99A40;
  }
}
.footer-links{
  width: 100%;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  display: inline-block;
  text-align: center;
  li{
    display: inline-block;
    padding: 25px; 
  }
}

@media (max-width: 600px){ 
  .footer-links li{
    padding: 10px;
  }
}